body {
    text-align: center;
    background-color: #F1F2F3;
    font-family: '微软雅黑', serif;
    font-weight: lighter;
    font-size: 25px;
}

h1 {
    font-family: '微软雅黑', serif;
    font-weight: lighter;
    font-size: 45px;
}

table {
    margin: 0 auto;
    border: 1px gray solid;
    border-radius: 5px;
}

td, th {
    padding: 15px;
    font-weight: lighter;
}
